#header {
  border-bottom: 1px solid var(--bg-dark-border);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background: var(--bg-dark);
  .logo {
    width: 19%;
    text-align: center;
    font-size: 22px;
    .icon {
      vertical-align: -12px;
      margin-right: 5px;
      color: #ea3323;
      font-size: 40px;
    }
  }
  .search {
    width: 80%;
    position: relative;
    padding: 10px 30px;

    .glass {
      position: absolute;
      left: 45px;
      top: 27px;
      color: #757575;
    }

    input {
      width: 100%;
      background: var(--bg-dark-border);
      border: 0;
      padding: 15px;
      padding-left: 40px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 900px) {
  #header {
    flex-direction: column;
    .logo {
      padding-top: 5px;
      border-right: 0;
      width: 100%;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
